.chat-bg {
  background-image: url("../assets/mshbg2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}

.chat-container-1 {
  width: 70%;
  height: 100vh;
  margin-left: 15%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--accent);
}

.header {
  justify-content: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #e0e0e0;
}

.header h1 {
  margin-left: 6%;
  color: var(--text);
}

.go-back-button,
.invite-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--text);
  font-size: 1.2em;
}

.invite-button {
  border: 1px solid var(--primary);
  background-color: var(--secondary);
  border-radius: 20px;
  padding: 10px;
}

.invite-button:hover,
.modal-send:hover {
  background-color: var(--primary);
  color: #fff;
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sidebar-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.chat-room-list {
  list-style: none;
  padding: 0;
}

.chat-room-list li {
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.chat-room-list li:hover {
  background: #e0e0e0;
}

.messages {
  padding: 10px;
  overflow-y: auto;
  flex: 1;
  max-height: 100%; /* Limit height for scrolling */
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow-y: scroll;
}

.message {
  padding: 10px;
  border-radius: 15px;
  margin: 5px 0;
  max-width: 70%;
  word-wrap: break-word;
  color: var(--text);
}

.own-message {
  background-color: #e1ffc7;
  align-self: flex-end;
}

.other-message {
  background-color: #f1f0f0;
  align-self: flex-start;
}

.user {
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
}

.new-message-form {
  display: flex;
  padding: 10px;
  border-top: 1px solid #e0e0e0;
}

.new-message-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1em;
}

.send-button {
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1em;
}

.send-button:hover {
  background-color: #fff;
  color: var(--text);
}

/* Modal styles */
.invite-modal {
  padding: 20px;
  width: 30%;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: var(--text);
  background-color: var(--accent);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.invite-modal h2 {
  margin-bottom: 15px;
}

.invite-modal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.modal-close {
  background-color: transparent;
  color: var(--text);
  font-size: 20px;
  cursor: pointer;
}

.modal-send {
  padding: 10px 15px;
  border: 1px solid var(--primary);
  background-color: var(--secondary);
  border-radius: 20px;
  color: var(--text);
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .chat-container-1 {
    width: 100%;
    margin-left: 0;
  }

  .header {
    padding: 2px;
  }

  .header h1 {
    margin-left: 10%;
    color: var(--text);
    font-size: 20px;
  }

  .go-back-button,
  .invite-button {
    font-size: 0.9em;
  }

  .invite-button {
    border: none;
    background-color: var(--accent);
  }

  .messages {
    padding: 5px;
    max-height: 100%px; /* Limit height for scrolling */
  }

  .new-message-form {
    padding: 5px;
  }

  .send-button {
    font-size: 1em;
  }

  /* Modal styles */
  .invite-modal {
    width: 80%;
  }
}

@media only screen and (min-width: 701px) and (max-width: 800px) {
  .chat-container-1 {
    width: 90%;
    margin-left: 5%;
  }

  .header {
    padding: 2px;
  }

  .header h1 {
    margin-left: 10%;
    color: var(--text);
    font-size: 20px;
  }

  .go-back-button,
  .invite-button {
    font-size: 0.9em;
  }

  .invite-button {
    border: none;
    background-color: var(--accent);
  }

  .messages {
    padding: 5px;
    max-height: 100%; /* Limit height for scrolling */
  }

  .new-message-form {
    padding: 5px;
  }

  .send-button {
    font-size: 1em;
  }

  /* Modal styles */
  .invite-modal {
    width: 60%;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1030px) {
  .chat-container-1 {
    width: 90%;
    margin-left: 5%;
  }

  .header {
    padding: 2px;
  }

  .header h1 {
    margin-left: 10%;
    color: var(--text);
    font-size: 20px;
  }

  .go-back-button,
  .invite-button {
    font-size: 0.9em;
  }

  .invite-button {
    border: none;
    background-color: var(--accent);
  }

  .messages {
    padding: 5px;
    max-height: 100%; /* Limit height for scrolling */
  }

  .new-message-form {
    padding: 5px;
  }

  .send-button {
    font-size: 1em;
  }

  /* Modal styles */
  .invite-modal {
    width: 50%;
  }
}
