.page-layout {
  background-image: url("../assets/mshbg2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
}

.content-with-sidebar {
  display: flex;
}

.main-content-1 {
  margin-left: 5%;
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content-1 h1 {
  color: var(--text);
}

.mood-selection {
  display: flex;
  justify-content: space-between; /* Space out buttons evenly */
  margin: 20px 0; /* Add margin for spacing */
}

.mood-label {
  margin-top: 10px;
}

.img-fluid {
  width: 50px;
  height: 50px;
}

.mood-button {
  flex: 1; /* Allow buttons to stretch equally */
  width: 130px;
  height: 130px;
  margin: 0 10px; /* Margin between buttons */
  padding: 15px; /* Padding for button */
  border: none; /* Remove default border */
  border-radius: 8px; /* Rounded corners for buttons */
  color: white; /* Text color */
  font-size: 1.2em; /* Larger font for readability */
  cursor: pointer; /* Pointer cursor on hover */
  transition: transform 0.2s; /* Smooth scaling effect on hover */
}

.mood-button:hover {
  transform: scale(1.05); /* Slightly scale up on hover */
}

.mood-button.selected {
  border: 2px solid white; /* Highlight selected button */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Subtle glow effect */
}

.loading-message {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em; /* Increase font size */
  color: #ff9800; /* Orange color for loading message */
}

.calendar-count {
  display: flex;
  flex: 1;
  margin-left: 0;
  width: 100%;
}

.calendar-container {
  width: 40%;
  margin: 20px auto;
}

.calendar-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  position: relative; /* Change to relative */
  top: -50%; /* Position at the top */
  height: 0;
  width: 25px;
  z-index: 1;
}

.mood-icon {
  width: 30px;
  height: 30px;
  margin-left: 40%;
}

.mood-count-section {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-top: 20px;
  width: 50%;
}

.mood-count-dropdown {
  margin-bottom: 20px;
  color: var(--text);
  align-self: center;
  width: 80%;
  padding: 10px;
}

.mood-count {
  display: flex;
  justify-content: space-between;
}

.mood-count-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.mood-count-item img {
  width: 50px;
  height: 50px;
}

.mood-count-item span {
  margin-top: 10px;
}

@media only screen and (max-width: 700px) {
  .page-layout {
    height: auto;
  }

  .main-content-1 {
    width: 100%;
    margin-left: 0%;
    color: var(--text);
  }

  .main-content-1 h1 {
    color: var(--text);
  }

  .mood-selection {
    display: flex;
    justify-content: space-between; /* Space out buttons evenly */
    margin: 20px 0; /* Add margin for spacing */
    flex-wrap: wrap;
  }

  .mood-label {
    margin-top: 5px;
  }

  .img-fluid {
    width: 20px;
    height: 20px;
  }

  .mood-button {
    width: 50px;
    height: 50px;
    margin: 0 5px; /* Margin between buttons */
    padding: 10px; /* Padding for button */
    font-size: 0.5em; /* Larger font for readability */
  }

  .calendar-count {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 0;
    width: 100%;
  }

  .calendar-container {
    align-items: center;
    width: 90%;
    margin: 20px auto;
  }

  .calendar-tile {
    top: -50%; /* Position at the top */
    height: 0;
    width: 70%;
  }

  .mood-count-section {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
  }

  .mood-count-item img {
    width: 2em;
    height: 2em;
  }
}

@media only screen and (min-width: 701px) and (max-width: 800px) {
  .page-layout {
    height: auto;
  }

  .main-content-1 {
    width: 100%;
    margin-left: 0%;
    color: var(--text);
  }

  .main-content-1 h1 {
    color: var(--text);
  }

  .mood-selection {
    display: flex;
    justify-content: space-between; /* Space out buttons evenly */
    margin: 20px 0; /* Add margin for spacing */
    flex-wrap: wrap;
  }

  .mood-label {
    margin-top: 5px;
  }

  .img-fluid {
    width: 40px;
    height: 40px;
  }

  .mood-button {
    width: 80px;
    height: 80px;
    margin: 0 5px; /* Margin between buttons */
    padding: 10px; /* Padding for button */
    font-size: 1em; /* Larger font for readability */
  }

  .calendar-count {
    width: 90%;
  }

  .calendar-container {
    width: 90%;
    margin: 20px auto;
  }

  .calendar-tile {
    top: -50%; /* Position at the top */
    height: 0;
    width: 25px;
  }

  .mood-count-section {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
  }

  .mood-count-item img {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1030px) {
  .page-layout {
    height: auto;
  }

  .main-content-1 {
    width: 100%;
    margin-left: 0%;
    color: var(--text);
  }

  .main-content-1 h1 {
    color: var(--text);
  }

  .mood-selection {
    display: flex;
    justify-content: space-between; /* Space out buttons evenly */
    margin: 20px 0; /* Add margin for spacing */
    flex-wrap: wrap;
  }

  .mood-label {
    margin-top: 5px;
  }

  .img-fluid {
    width: 40px;
    height: 40px;
  }

  .mood-button {
    width: 80px;
    height: 80px;
    margin: 0 5px; /* Margin between buttons */
    padding: 10px; /* Padding for button */
    font-size: 1em; /* Larger font for readability */
  }

  .calendar-count {
    width: 90%;
  }

  .calendar-container {
    width: 90%;
    margin: 20px auto;
  }

  .calendar-tile {
    top: -50%; /* Position at the top */
    height: 0;
    width: 25px;
  }

  .mood-count-section {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
  }

  .mood-count-item img {
    width: 40px;
    height: 40px;
  }
}
