.navbar-container {
  background-color: var(--background);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-pc {
  width: 150px;
  height: 170px;
  margin: 0;
  padding: 20px;
}

.faComment,
.faSmile,
.faBell {
  color: #fff;
  background-color: var(--background);
  font-size: var(--h2-font);
  padding-right: 5px;
}

.logo-mobile {
  display: none;
}

.navbar-links {
  display: flex;
}

.navbar-links .nav-words {
  margin-left: 10px;
}

.navbar-link {
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  background-color: var(--background);
  color: #fff;
  font-size: var(--h3-font);
  cursor: pointer;
}

.navbar-logout {
  width: 100px;
  padding: 10px;
  background-color: var(--error);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: var(--h4-font);
}

.notifications {
  position: relative;
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
  background-color: var(--background);
}

.notifications-button {
  width: 100px;
  background-color: var(--background);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: var(--h4-font);
}

.notifications-dropdown {
  position: absolute;
  top: 100%; /* Position it below the button */
  right: 0; /* Align to the right */
  background-color: var(--background); /* Dropdown background */
  color: var(--primary);
  border: 1px solid #ccc; /* Border for dropdown */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000; /* Make sure it appears above other elements */
  width: 300px; /* Width of the dropdown */
  padding: 10px 10px 10px 10px;
}

.notification-item {
  padding: 10px; /* Padding for each notification */
  border-bottom: 1px solid #eee; /* Bottom border for separation */
}

.notification-item:last-child {
  border-bottom: none; /* No border for the last item */
}

.read-all-button {
  background-color: var(--secondary);
  color:grey;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.read-all-button:hover {
  background-color:var(--primary);
  color:white;
}

.navbar-parts {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 700px) {
  .navbar-container {
    height: 90px;
    flex-direction: row;
    align-items: flex-start; /* Align items to the start */
    padding: 10px; /* Add some padding */
    width: 100%;
  }

  .logo-pc {
    display: none; /* Hide PC logo on mobile */
  }

  .logo-mobile {
    display: block; /* Show mobile logo on mobile */
    width: 50px; /* Adjust width for mobile */
    height: 50px;
  }

  .nav-words {
    display: none;
  }

  .navbar-parts {
    display: flex;
    flex-direction: column;
  }

  .faComment,
  .faSmile,
  .faBell {
    color: #fff;
    background-color: var(--background);
    font-size: 30px;
    padding-right: 3px;
  }

  .navbar-link {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 0px;
    /* right: 70%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--h2-font);
  }

  .navbar-logout {
    margin-top: 10px;
    width: 70px;
    padding: 5px;
    background-color: var(--error);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
  }

  .notifications {
    margin-top: 10px;
    position: relative;
    margin-right: 0px;
  }

  .notifications-button {
    width: 80px;
  }

  .notifications-dropdown {
    position: absolute;
    top: 100%; /* Position it below the button */
    left: 0; /* Align to the right */
    width: 40vw; /* Width of the dropdown */
    padding: 10px 10px 10px 10px;
  }
}
