.navbar-container {
  background-color: var(--background);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-pc {
  width: 150px;
  height: 170px;
  margin-top: 0;
}

.navbar-search {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-right: 7px;
  border-radius: 30px;
}

input {
  width: 300px;
  padding: 10px;
  margin: 5px 0;
  border-radius: 20px;
  font-size: 16px;
}

.faSearch {
  color: var(--background);
  background-color: #fff;
  font-size: var(--h3-font);
  cursor: pointer;
}

.navbar-newpost {
  display: flex;
  align-items: center;
  background-color: var(--background);
  color: #fff;
  font-size: var(--h3-font);
  cursor: pointer;
}

.faPlus,
.faComment,
.faSmile,
.faBell {
  color: #fff;
  background-color: var(--background);
  font-size: var(--h2-font);
  padding-right: 5px;
}

.faBars,
.logo-mobile {
  display: none;
}

.navbar-links {
  display: flex;
}

.navbar-link {
  margin-left: 60px;
  display: flex;
  align-items: center;
  background-color: var(--background);
  color: #fff;
  font-size: var(--h3-font);
  cursor: pointer;
}

.navbar-logout {
  width: 100px;
  padding: 10px;
  background-color: var(--error);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: var(--h4-font);
}

.notifications {
  position: relative;
}

.notifications-button {
  width: 100px;
  background-color: var(--background);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: var(--h4-font);
}

.notifications-dropdown {
  position: absolute;
  top: 100%; /* Position it below the button */
  right: 0; /* Align to the right */
  background-color: var(--background); /* Dropdown background */
  color: var(--primary);
  border: 1px solid #ccc; /* Border for dropdown */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000; /* Make sure it appears above other elements */
  width: 300px; /* Width of the dropdown */
  padding: 10px 10px 10px 10px;
}

.notification-item {
  padding: 10px; /* Padding for each notification */
  border-bottom: 1px solid #eee; /* Bottom border for separation */
}

.notification-item:last-child {
  border-bottom: none; /* No border for the last item */
}

@media only screen and (max-width: 768px) {
}
