/* =========== GOOGLE FONT =========== */
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

:root {
  /* =========== COLORS =========== */
  --text: #687dac;
  --background: #c8d9d3;
  --primary: #687dac;
  --secondary: #f2e3d2;
  --accent: #d2e0ee;
  --accent2: #84a29f;
  --error: #ac6767;

  /* =========== TYPOGRAPHY =========== */
  --main-font: "Itim", cursive;
  --h1-font: 50px;
  --h2-font: 38px;
  --h3-font: 24px;
  --h4-font: 20px;
}

/* Resets */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: var(--main-font);
}

body {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.sign-out {
  display: none;
}
